In [1]:
import pandas as pd
# import dynspec
import matplotlib.pyplot as plt
import numpy as np
import math as m
import matplotlib.gridspec as gridspec
import glob
fredda_index=["sn", "sampno", "tstart", "boxcar", "idt", "dm", "beamno",
            "mjd", "sampno_start", "sampno_end", "idt_start", "idt_end", 
              "ncands"]
hmd_index=["sn", "sampno", "tstart", "boxcar", "idt", "dm", "ncands",
            "sampno_start", "sampno_end"]

In [3]:
cands=pd.read_csv("ursa_minor_test.cand",delimiter="\t",names=hmd_index)

In [4]:
cands

,sn,sampno,tstart,boxcar,idt,dm,ncands,sampno_start,sampno_end
21.33240,8184,0.335217,11,393,35.9788,9823,1024,31344,NaN
10.71380,28160,1.153430,11,749,60.7446,3851,26320,31056,NaN
6.19868,1080,0.044237,10,145,24.8844,3,1064,1096,NaN
6.02449,45744,1.873670,10,386,35.6084,1,45744,45832,NaN
6.19245,16000,0.655360,11,1300,136.0290,1,16000,16192,NaN
...,...,...,...,...,...,...,...,...,...
7.44935,46831532,1918.220000,11,282,30.5234,151,46826148,46836908,NaN
6.24524,46765244,1915.500000,11,714,57.7050,1,46764956,46765340,NaN
7.00300,46728284,1913.990000,11,1585,206.2730,6,46726492,46728476,NaN
6.13971,46913500,1921.580000,11,1458,171.3490,1,46913500,46913564,NaN
6.17718,46803868,1917.090000,10,1722,251.9620,2,46803868,46803932,NaN